In [1]:
import collections

In [2]:
with open("input.txt") as f:
    lines = f.readlines()
    lines = [i.strip('\n') for i in lines]

In [3]:
dots = collections.defaultdict(int)
count = 0
instr = False
instructions = []
for line in lines:
    if line == '':
        instr = True
        continue
    if instr:
        instructions.append((line[11], int(line[13:])))
    else:
        a,b = line.split(",")
        dots[(int(a),int(b))] = 1

In [4]:
for instruction in instructions:
    index = int(instruction[0] == 'y')
    for key in list(dots.keys()):
        if key[index] > instruction[1]:
            del dots[key]
            if index == 0:
                newkey = (2*instruction[1] - key[0], key[1])
            else: 
                newkey = (key[0], 2*instruction[1] - key[1])
            dots[newkey] = 1

In [5]:
sum([dots[i] for i in dots.keys()])

101

In [6]:
maxx = 1+max([key[0] for key in dots.keys() if dots[key] ==1 ])
maxy = 1+max([key[1] for key in dots.keys() if dots[key] ==1 ])
mat = [[0]*maxx for _ in range(maxy)]
maxx,maxy

(39, 6)

In [7]:
for key in dots.keys():
    if dots[key] == 1:
        a,b = key
        mat[b][a] = 1

In [18]:
import pandas as pd
pd.DataFrame(mat)[range(20,len(mat[0]))]

   20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
0   1   1   1   0   0   1   1   1   1   0   0   1   1   0   0   1   1   1   0
1   1   0   0   1   0   1   0   0   0   0   1   0   0   1   0   1   0   0   1
2   1   0   0   1   0   1   1   1   0   0   1   0   0   0   0   1   1   1   0
3   1   1   1   0   0   1   0   0   0   0   1   0   0   0   0   1   0   0   1
4   1   0   1   0   0   1   0   0   0   0   1   0   0   1   0   1   0   0   1
5   1   0   0   1   0   1   1   1   1   0   0   1   1   0   0   1   1   1   0